<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Simple Web Project: Home</title>
</head>
<body>

<h1 th:text="|Hello, ${name}! Welcome on my blog!|">DEFAULT TITLE</h1>

<p th:text="|Number of posts: ${entries.size()}|">NUMBER OF ENTRIES</p>

<div th:each="entry : $(entries)">
    <h2 th:text="$(entry.title)">TITLE</h2>
    <p>
        Author: <span th:text="$(entry.author)">AUTHOR</span>
        Created: <span th:text="$(entry.created)"></span>
    </p>
    <p th:text="$(entry.content)">CONTENT</p>





</div>

</body>
</html>
